Look at correlation

In [1]:
%matplotlib inline
import pandas as pd

In [4]:
df = pd.read_table('clean_chlamynet_divergence_SFS.csv', sep=",")
print(df.shape)
print(df.describe())
df.head()

(5216, 16)
            number       degree  differences_0       total_0  differences_2  \
count  5216.000000  5216.000000    5216.000000   5216.000000    5216.000000
mean   2949.014571    30.707630     171.462615   1244.948428      54.301380
std    1709.771175    49.538052     325.318410   1200.157729      77.289418
min       0.000000     1.000000       0.000000     72.000000       0.000000
25%    1473.750000     3.000000      23.000000    517.000000      15.000000
50%    2950.500000     9.000000      69.000000    899.000000      30.000000
75%    4430.500000    34.000000     191.000000   1514.000000      64.000000
max    5896.000000   274.000000    5827.000000  14300.000000    1202.000000

           total_2  differences_4      total_4  JC_distance_0  JC_distance_2  \
count  5216.000000    5216.000000  5216.000000    5200.000000    5177.000000
mean    265.098926     138.314609   408.729103       0.138623       0.233246
std     244.762379     175.626462   417.933274       0.234587       0.274255
min      10.000000       0.000000    17.000000       0.000000       0.000000
25%     117.000000      40.000000   157.000000       0.039149       0.115257
50%     196.000000      82.000000   282.000000       0.084737       0.184454
75%     326.000000     163.000000   500.000000       0.160293       0.276875
max    2804.000000    2343.000000  5188.000000       5.864124       5.210953

       JC_distance_4
count    5116.000000
mean        0.404162
std         0.225721
min         0.000000
25%         0.284617
50%         0.381696
75%         0.494917
max         5.420747

,number,genename,degree,SFS0,SFS4,SFS0_theta_pi,SFS4_theta_pi,differences_0,total_0,differences_2,total_2,differences_4,total_4,JC_distance_0,JC_distance_2,JC_distance_4
0,0,Cre13.g580900,36,"[1291, 9, 1, 2, 3, 1, 0, 0, 1, 0, 0, 0, 0, 0, ...","[322, 10, 3, 7, 2, 1, 2, 6, 1, 0, 0, 0, 0, 0,...",0.002938178,0.026660758,126,1348,62,325,117,368,0.099831,0.220133,0.413622
1,1,g11482,2,"[710, 4, 4, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[173, 10, 10, 5, 3, 0, 0, 1, 2, 0, 0, 0, 0, 0...",0.002372576,0.035883634,361,1210,99,285,150,353,0.380369,0.466538,0.627023
2,2,g10015,2,"[3077, 61, 21, 16, 14, 6, 5, 4, 5, 3, 0, 0, 0,...","[946, 59, 39, 30, 16, 8, 13, 10, 6, 2, 0, 0, ...",0.009999267,0.042637073,197,1080,71,244,136,350,0.209002,0.368240,0.547507
3,3,Cre16.g674850,131,"[3571, 57, 35, 20, 8, 55, 26, 20, 31, 1, 0, 0,...","[1268, 58, 16, 9, 10, 51, 19, 8, 15, 1, 0, 0,...",0.02219385,0.040621701,222,1796,68,305,239,680,0.135073,0.264585,0.474219
4,4,Cre07.g342350,22,"[1526, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[323, 7, 4, 3, 1, 0, 0, 0, 12, 0, 0, 0, 0, 0,...",0.000432023,0.026106443,11,1523,32,452,61,350,0.007258,0.074364,0.198346

---
# Extract 0 and 4 fold SFSs for fractions of genes
---
 - In this case I identify the top and bottom 10 percent of genes by their network degree
 - I extract the 0 and 4 fold SFS for the upper and lower 10 percent

In [60]:
# extract top 10% of degree
cutoff_percent  = 0.10
number_genes = df.shape[0]
cutoff_number = round(number_genes*cutoff_percent)
cutoff_high  = sorted(list(df.degree))[number_genes-cutoff_number]
cutoff_low = sorted(list(df.degree))[cutoff_number]

df_low = df[df.degree <= cutoff_low]
df_high = df[df.degree >= cutoff_high]

In [39]:
def sum_SFSs(list_of_SFSs):
    # for a bunch of SFSs that are the same length sum them alllll up into one big one\
#     sfs_size = len(list_of_SFSs[0])
#     for i in range(sfs_size):
#         sum([sfs[i] for sfs in list_of_SFSs ]
    total_SFS = [sum(i) for i in zip(*list_of_SFSs)]
    return total_SFS

def column2SFSs(column_of_SFSs):
    list_of_SFSs = []
    for s in list(column_of_SFSs):
        exec("list_of_SFSs.append(" + s + ")")
    return list_of_SFSs

In [45]:
from ness_vcf import SFS

total_SFS0_low = SFS(sum_SFSs(column2SFSs(df_low.SFS0)))
total_SFS4_low = SFS(sum_SFSs(column2SFSs(df_low.SFS4)))
total_SFS0_high = SFS(sum_SFSs(column2SFSs(df_high.SFS0)))
total_SFS4_high= SFS(sum_SFSs(column2SFSs(df_high.SFS4)))

SFSs = [total_SFS0_low,total_SFS4_low,total_SFS0_high,total_SFS4_high]

In [53]:
for s in SFSs:
    s.fold()

In [59]:
for s in SFSs:
    print(s.sfs)

[818768, 7349, 3436, 2410, 2010, 1651, 1587, 1324, 1273, 548, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[246758, 8821, 4510, 3155, 2809, 2276, 2240, 2051, 1958, 775, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[734863, 7336, 3651, 2475, 1941, 1577, 1563, 1286, 1319, 445, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[219474, 8299, 4469, 3124, 2731, 2260, 2182, 1915, 1858, 703, 0, 0, 0, 0, 0, 0, 0, 0, 0]

---
# Extract divergence for the same genes
---
- for the same genes I want their 0- and 4-fold divergence

In [66]:
print("perc Sites Diffs")
print("Low: ", sum(df_low.total_0), sum(df_low.differences_0))
print("Low: ", sum(df_low.total_4), sum(df_low.differences_4))
print("High: ", sum(df_high.total_0), sum(df_high.differences_0))
print("High: ", sum(df_high.total_4), sum(df_high.differences_4))

perc Sites Diffs
Low:  744852 102508
Low:  245721 83562
High:  697534 93176
High:  229789 77485